:host {
  display: block;
}

.stock-card {
  width: 300px;
  background-color: var(--secondary);
  border: 2px solid #000000;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
}

.stock-card button {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.stock-card button.selected {
  background-color: #ff5e5b;
  color: #ffffff;
  transform: translate(2px, 2px);
}

.stock-card button.selected:hover {
  background-color: #ff5e5b;
}

.stock-name {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.stock-price {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.positive {
  color: #28a745;
}

.negative {
  color: #dc3545;
}
