<div class="register-container">
  <h1>REGISTER</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="input-group">
      <label for="username">USERNAME</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Choose a username"
        [class.invalid]="
          registerForm.get('username')?.invalid && registerForm.get('username')?.touched
        "
      />
      @if (
        registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched
      ) {
        <div class="error-msg">Username is required</div>
      }
      @if (
        registerForm.get('username')?.hasError('minlength') && registerForm.get('username')?.touched
      ) {
        <div class="error-msg">Min length is 3 characters</div>
      }
    </div>

    <div class="input-group">
      <label for="password">PASSWORD</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="••••••••"
        [class.invalid]="
          registerForm.get('password')?.invalid && registerForm.get('password')?.touched
        "
      />
      @if (
        registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched
      ) {
        <div class="error-msg">Password is required</div>
      }
      @if (
        registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched
      ) {
        <div class="error-msg">Min length is 6 characters</div>
      }
    </div>

    <div class="input-group">
      <label for="confirmPassword">CONFIRM PASSWORD</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="••••••••"
        [class.invalid]="
          registerForm.get('confirmPassword')?.invalid &&
          registerForm.get('confirmPassword')?.touched
        "
      />
      @if (
        registerForm.get('confirmPassword')?.hasError('required') &&
        registerForm.get('confirmPassword')?.touched
      ) {
        <div class="error-msg">Please confirm your password</div>
      }
      @if (
        registerForm.get('confirmPassword')?.hasError('passwordMismatch') &&
        registerForm.get('confirmPassword')?.touched
      ) {
        <div class="error-msg">Passwords do not match</div>
      }
    </div>

    <button type="submit">SIGN UP</button>
  </form>

  <div class="footer">Already have an account? <a routerLink="/login">Sign in</a></div>
</div>
